button {
    margin: 30px 0 0 30px;
}
table{
    margin: 20px 30px 0 30px;
}
thead{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}
td{
    border: 1px solid gray;
    margin: 20px;
    padding: 20px;
}
